.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background: none;
  transition: $main-transition;
  color: $color-secondary-dark;
  font-size: 2rem;
}

.btn-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  display: none;

  @include respond(tab-port) {
    display: flex;
    align-items: center;
  }
}

.btn-close {
  font-size: 3rem;
}
.btn-close-modal {
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn-modal {
  font-size: 1.6rem;
}
.btn__submit,
.btn-main {
  border-radius: 5px;
  color: $color-white;
  background-color: $color-secondary-dark;
  background-image: linear-gradient(135deg, rgb(214, 132, 8), rgb(126, 67, 0));
}

.btn__submit {
  display: block;
  padding: 1rem 2rem;
  width: 100%;

  &:disabled {
    filter: grayscale(100);
  }

  &:hover {
    @include btn-hover;
  }
}
.btn-main {
  padding: 1rem;

  @include respond(phone) {
    font-size: $default-font-size;
  }

  &:hover {
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }

  &--small {
    font-size: $default-font-size;
    padding: 0.5rem;
  }
}

.link-main {
  &:link,
  &:visited {
    color: $color-primary-dark;
  }

  &:hover,
  &:active {
    position: relative;
    // border-bottom: 3px solid $color-primary-dark;
    &::after {
      @include after;
    }
  }
}

.link-btn {
  &:link,
  &:visited {
    font-size: 2rem;
    color: $color-grey-light-1;
    background-color: $color-secondary-dark;
    background-image: linear-gradient(
      135deg,
      rgb(214, 132, 8),
      rgb(126, 67, 0)
    );
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: $main-transition;

    @include respond(phone) {
      font-size: $default-font-size;
    }
  }

  &:hover {
    background-color: $color-secondary-dark-2;
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }
}
.link-btn.btn-small {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
.link-product {
  display: block;
  text-align: center;
  width: 20rem;
  margin: 0 auto;
}
