.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background: none;
  transition: $main-transition;
  color: $color-secondary-dark;
  font-size: 2rem;
}

.btn-main {
  background-color: $color-secondary-dark-1;
  padding: 1rem;
  border-radius: 5px;
  color: $color-white;

  @include respond(phone) {
    font-size: $default-font-size;
  }

  &:hover {
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }

  &--small {
    font-size: $default-font-size;
    padding: 0.5rem;
  }
}

.link {
  text-decoration: none;
  transition: $main-transition;
  display: inline-block;
}

.link-main {
  &:link,
  &:visited {
    color: $color-primary-dark;
  }

  &:hover,
  &:active {
    position: relative;
    // border-bottom: 3px solid $color-primary-dark;
    &::after {
      @include after;
    }
  }
}

.link-btn {
  &:link,
  &:visited {
    font-size: 2rem;
    color: $color-grey-light-1;
    background-color: $color-secondary-dark-1;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: $main-transition;

    @include respond(phone) {
      font-size: $default-font-size;
    }
  }

  &:hover {
    background-color: $color-secondary-dark-2;
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }
}
.link-btn.btn-small {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
.link-product {
  display: block;
  text-align: center;
  width: 20rem;
  margin: 0 auto;
}
