.filters {
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  @include respond(tab-port) {
    position: relative;
  }

  & .form {
    padding: 2rem 1rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
      width: 30rem;
    }

    & .form-control {
      & label {
        display: inline-block;
        font-size: $default-font-size;
        margin-bottom: 1rem;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      & input:first-child {
        width: 100%;
        padding: 1rem;
        font-size: $default-font-size;
        font-family: inherit;
        background-color: $color-primary-light;
        border-radius: 5px;

        &::placeholder {
          color: $color-primary-dark;
        }
        &:focus {
          outline: 3px solid $color-secondary-dark;
          background-color: $color-grey-light-2;
        }
      }
      &--title {
        font-size: 2rem;
        color: $color-secondary-dark;
        margin-bottom: 2rem;
      }

      & .form-list {
        list-style: none;

        & li {
          padding: 0.5rem;

          &.active {
            box-shadow: 0 0.1rem 0.2rem rgba($color-grey-light-1, $alpha: 0.2);
            padding-left: 2rem;
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          & .form-btn {
            font-family: inherit;
            font-size: $default-font-size;
            color: $color-grey-light-1;
            text-transform: capitalize;

            &.active {
              color: $color-secondary-dark;
              font-weight: 600;
            }
          }
        }
      }

      & select {
        @include select;
        font-size: $default-font-size;
        padding: 5px;
        width: 100%;
      }
    }
  }
}
