.section__grid-view {
  padding-top: 4rem;
  & .product__article {
    &-figure {
      height: 15rem;
    }

    &-content {
      padding: 2rem;

      & .product__name {
        font-size: 1.6rem;
      }
    }
  }
}
