.grid {
  display: grid;
}

.grid-2--cols {
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.grid-2--cols-1 {
  grid-template-columns: 1fr 2fr;
  gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid-5--cols {
  grid-template-columns: 25rem repeat(3, 1fr) 2rem;
  gap: 2rem;

  @include respond(phone) {
    grid-template-columns: 20rem 1fr 10rem;
  }
}

.grid-2--cols-list {
  grid-template-columns: 25rem 1fr;
  gap: 3rem;

  @include respond(tab-port) {
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }
}

.grid-sort {
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 1rem;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
}
.grid-autofill-products {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.grid-autofill {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.grid-2--cols-products {
  grid-template-columns: 20rem 1fr;
  gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}
